.green{
    background: #e2ca95; /* Old browsers */
    background: -moz-linear-gradient(top, #e2ca95 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e2ca95 0%,#e2ca95 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e2ca95 0%,#e2ca95 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e2ca95 0%,#e2ca95 100%); /* IE10+ */
    background: linear-gradient(top, #e2ca95 0%,#a5c956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
   
}
.booking-form .form-btn {
	margin-top: 27px;
}
img {
	vertical-align: middle;
	border-style: none;
	margin: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #f2783e;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 100%;
	border-radius: 10px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	display: inline-grid;
	text-align: center;
	padding-top: 1px;
	margin-bottom: 15px;
}
.booking-form .submit-btn-two {
	color: #fff;
	background-color: #f2783e;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 100%;
	border-radius: 10px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	display: inline-grid;
	text-align: center;
	padding-top: 15px;
}
.booking-form .submit-btn-three {
	color: #fff;
	background-color: #f2783e;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 100%;
	border-radius: 10px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	display: inline-grid;
	text-align: center;
	padding-top: 15px;
}
.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

.booking-form {
	align-content: center;
	align-self: center;
	padding: 5px;
}